button,
[type=button],
[type=reset],
[type=submit] {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

.btnA{
    height: 48px;
    border-radius: 3px;
    padding: 0px 16px;

    span{
        padding-left: 15px;
    }

    .arrow{
        height: 8px;
    }

    .arrow-2{
        opacity: 0; 
        right: 15px;
        top: 21px;
    }

    &.bg-EBFF99-btn{
        background-color: $color-EBFF99;
    }
}

.btnA{
    &:hover{
        span{
            padding-left: 0px;
            padding-right: 15px;
        }
        .arrow-1{
            opacity: 0;
        }
        .arrow-2{
            opacity: 1; 
        }
    }
}