.card-hover {
    .img {
        transform: scale(1);
        transition: 0.3s all ease-in-out;
    }

    &:hover {
        .img {
            transform: scale(1.1);
        }
    }
}

.case-studies-cards {
    .case-studies-card {
        .case-studies-img {
            height: 431px;

            .case-layer {
                height: 115px;
                background-image: linear-gradient(180deg, #00000000, #000000);
            }
            @include media-breakpoint-down(lg){
                height: 240px;
                .case-layer {
                    height: 75px;
                }
            }
        }
    }
}

.counter-cards {
    background-color: rgba($color: $color-20994A, $alpha: 0.03);
    backdrop-filter: blur(30px);
    padding: 25px 42px 30px 47px;

    .counter-heading {
        color: white;
    }

    .counter-card-text {
        color: rgba($color: $white, $alpha: 0.8);
    }

    .counter-arrow {
        height: 32px;

        &.down-arrow {
            transform: rotate(180deg);
        }
    }

    &.bg-20994A-cards {
        background-color: rgba($color: $color-20994A, $alpha: 1);
        backdrop-filter: none;
    }
}

.small-card {
    height: 328px;

    .small-bg-layer {
        height: 228px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }

    .small-card-content {
        left: 35px;
        bottom: 25px;

        .small-arrow {
            height: 16px;
        }
    }

    @include media-breakpoint-down(lg){
        height: 280px;

        .small-bg-layer {
            height: 180px;
        }
        .small-card-content {
            left: 25px;
        }
    }
}

.sectors-cards {
    background-color: rgba($color: $color-20994A, $alpha: 0.05);

    .sectors-cards-img {
        width: 90px;
        height: 90px;
        @include media-breakpoint-down(lg){
            width: 114px;
            height: 70px;
        }
    }
}

.included-section {
    .included-blur-layer {
        background: linear-gradient(180deg, rgba(15, 18, 10, 0), rgba(15, 18, 10, 0.9));
        height: 228px;
        margin-top: 2px;
    }

    .included-card-section {
        background-color: rgba($color: $color-0F120A, $alpha: 0.9);
    }

    .included-left-content {
        position: sticky;
        top: 200px;
    }
}

.included-col {
    margin-top: 16px;
    @include media-breakpoint-down(lg){
        margin-top: 10px;
    }
    @include media-breakpoint-up(lg){
        &:first-child,
        &:nth-child(2) {
            margin-top: 0px;
        }
    }
}

.included-card {
    background-color: $color-3D3F37;
    backdrop-filter: blur(30px);
    padding: 25px 20px;

    @include media-breakpoint-down(lg){
        padding: 20px;
    }

    .included-card-img {
        height: 92px;
        width: 100%;
        max-width: 80px;
        margin-right: 20px;
        @include media-breakpoint-down(lg){
            margin-right: 16px;
            height: 80px;
            max-width: 70px;
        }
    }
}

.offer-cards {
    .offer-card {
        z-index: 7;
        padding-left: 32px;
        padding-right: 70px;

        .offer-img {
            width: 64px;
            height: 68px;
        }
        @include media-breakpoint-down(lg){
            padding-left: 25px;
            padding-right: 32px;
        }
    }
}

.other-service-section {
    .small-card {
        height: 400px;
        @include media-breakpoint-down(lg){
            height: 280px;
        }
    }
}

.value-cards {
    .arorw-icon {
        height: 20px;
    }
}

.download-card {
    padding: 18px 18px 18px 30px;
    background-color: rgba(32, 153, 74, 0.01);
    backdrop-filter: blur(32px) brightness(0.96);

    .download-icon {
        width: 48px;
        height: 48px;

        img {
            height: 20px;
        }
    }
    @include media-breakpoint-down(lg){
        padding: 16px;
        .download-icon {
            width: 40px;
            height: 40px;
    
            img {
                height: 16px;
            }
        }
    }
}

.case-studies-section {
    z-index: 6;
}
.case-studies-open-hero-section {
    .case-studies-open-hero-img{
        height: 653px;
    }
    @include media-breakpoint-down(lg){
        .case-studies-open-hero-img{
            height: 255px;
        }
    }
}

.center-slider {
    height: 605px;

    @include media-breakpoint-down(lg) {
        height: 365px;
    }
}