.contact-form {
    background-color: rgba($color: $white, $alpha: 0.1);
    backdrop-filter: blur(11px) brightness(0.7);
    padding: 53px 60px 63px;

    .submit-btn {
        input{
            padding-left: 16px !important;
            padding-right: 0px !important;
        }
        &:hover {
            input {
                padding-left: 0px !important;
                padding-right: 16px !important;
            }
        }
    }

    @include media-breakpoint-down(lg){
        padding: 50px 17px;
    }
}

.wpcf7-spinner {
    display: none !important;
}

.contact-textarea,
.contact-input {
    border-bottom: 1px solid $white !important;

    &::placeholder {
        color: $white;
    }
}

.more-filter-container{
    &.active{
        .more-filter-plus{
            transform: rotate(45deg);
        }
        .more-filter-options{
            display: block !important;
        }
    }
}


.case-filter-check-container{
    input{
         &:checked~.label{
            &::after{
                display: block;
            }
         }
    }
    .label{
        height: 20px;
        width: 20px;
        border-radius: 3px;

        &::after{
            content: '';
            height: 9px;
            width: 5px;
            border: solid #fff;
            border-width: 0px 1px 1px 0px;
            position: absolute;
            top: 4px;
            left: 7px;
            transform: rotate(45deg);
            display: none;
        }
    }
}