.contact-form {
    background-color: rgba($color: $white, $alpha: 0.1);
    backdrop-filter: blur(11px) brightness(0.7);
    padding: 53px 60px 63px;

    .submit-btn {
        input{
            padding-left: 16px !important;
            padding-right: 0px !important;
        }
        &:hover {
            input {
                padding-left: 0px !important;
                padding-right: 16px !important;
            }
        }
    }

    @include media-breakpoint-down(lg){
        padding: 50px 17px;
    }
}

.wpcf7-spinner {
    display: none !important;
}

.contact-textarea,
.contact-input {
    border-bottom: 1px solid $white !important;

    &::placeholder {
        color: $white;
    }
}