.offcanvas-backdrop {
    background-color: #00000000 !important;

    &.show {
        opacity: 1;
    }

    &.fade {
        backdrop-filter: blur(21px);
    }
}

.offcanvas {
    &.offer-modal {
        width: 712px;
        border-left: 0px !important;
        border-top-left-radius: $radius30;
        border-bottom-left-radius: $radius30;

        .offcanvas-body {
            padding: 110px 93px 75px 74px;

            .close-btn {
                height: 26px;
            }
        }
        @include media-breakpoint-down(lg){
            border-radius: 0px !important;
            .offcanvas-body {
                padding: 120px 15px 75px 15px;
    
                .close-btn {
                    height: 22px;
                }
            }
        }
    }
}