.value-slider,
.testimonial-slider {
    .slick-list {
        overflow: visible;
        margin-left: -60px;
        margin-right: -60px;

        .slick-slide {
            padding-left: 60px;
            padding-right: 60px;

        }

        @include media-breakpoint-down(lg) {
            margin-left: -25px;
            margin-right: -25px;

            .slick-slide {
                padding-left: 25px;
                padding-right: 25px;
            }
        }
    }
}

.testimonial-slider {
    .slick-list {
        .slick-slide {
            &.slick-active {

                .testimonial-heading,
                .testimonial-client {
                    color: rgba($color: $color-0F120A, $alpha: 1.0);
                }
            }
        }
    }
}

.center-slider-main-section,
.sectors-slider-section {
    .slick-arrows {
        .slick-arrow {
            &.slick-disabled {
                background-color: rgba($color: $color-EBFF99, $alpha: 0.5);
            }
        }

        .prev-arrow,
        .next-arrow {
            height: 48px;
            width: 48px;

            .icon {
                height: 12px;
            }
        }

        @include media-breakpoint-down(lg) {
            .prev-arrow,
            .next-arrow {
                height: 30px;
                width: 30px;

                .icon {
                    height: 8px;
                }
            }
        }
    }
}

.center-slider-main-section {
    .slick-arrows {
        @include media-breakpoint-down(lg) {
            height: auto !important;
        }
    }
}

.other-service-slider,
.sectors-slider-section {
    .slick-list {
        @include media-breakpoint-down(lg) {
            overflow: visible;
        }

        margin-left: -8px !important;
        margin-right: -8px !important;

        .slick-slide {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}

#servicecontainer,
.small-card-slider,
.case-studies-slider,
#caseContainer {
    .slick-list {
        @include media-breakpoint-down(lg) {
            overflow: visible !important;
        }

        margin-left: -7px !important;
        margin-right: -7px !important;

        .slick-slide {
            padding-left: 7px;
            padding-right: 7px;
        }
    }
}

.value-slider {
    .slick-list {
        .slick-slide {
            border-right: 1px solid $color-0F120A;
        }
    }
}

.center-slider {
    .slick-list {
        overflow: visible;

        @include media-breakpoint-up(lg) {
            .slick-slide {
                transition: all 0.3s ease-in-out;

                .center-main-img {
                    display: flex !important;
                    align-items: center;
                    justify-content: center;

                    .center-img {
                        width: 100% !important;
                        height: auto;
                    }
                }

                &.slick-active,
                &.slick-current {
                    .center-main-img {
                        .center-img {
                            height: 100% !important;
                        }
                    }
                }

                &.slick-active-prev,
                &.slick-active-next {

                    .center-main-img {
                        opacity: 0.6;
                        filter: blur(5px);

                        .center-img {
                            transform: scale(0.34);
                        }
                    }
                }

                &.slick-active-prev {
                    .center-main-img {
                        .center-img {
                            margin-right: -420px;
                        }
                    }
                }

                &.slick-active-next {
                    .center-main-img {
                        .center-img {
                            margin-left: -420px;
                        }
                    }
                }
            }
        }   
    }

    div {
        height: 100%;
    }
}

.slick-hidden {
    display: none !important;
}