.value-slider,
.testimonial-slider {
    .slick-list {
        overflow: visible;
        margin-left: -60px;
        margin-right: -60px;

        .slick-slide {
            padding-left: 60px;
            padding-right: 60px;


        }
    }
}

.testimonial-slider {
    .slick-list {
        .slick-slide {
            &.slick-active {
                .testimonial-heading {
                    color: rgba($color: $color-0F120A, $alpha: 1.0);
                }
            }
        }
    }
}


.sectors-slider-section {
    .slick-arrows {
        .slick-arrow {
            &.slick-disabled {
                background-color: rgba($color: $color-EBFF99, $alpha: 0.5);
            }
        }

        .prev-arrow,
        .next-arrow {
            height: 48px;
            width: 48px;

            .icon {
                height: 12px;
            }
        }
    }

    .slick-list {
        margin-left: -8px !important;
        margin-right: -8px !important;

        .slick-slide {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}

.value-slider {
    .slick-list {
        .slick-slide {
            border-right: 1px solid $color-0F120A;
        }
    }
}