.footer {
    background: linear-gradient(to bottom, $white 0% 30%, $color-0F120A 30% 100%);

    &.bg-FFFCFA-footer {
        background: linear-gradient(to bottom, $color-FFFCFA 0% 30%, $color-0F120A 30% 100%);
    }

    .footer-banner-section {
        .footer-banner {
            @include media-breakpoint-down(lg) {
                height: 407px;
            }

            @include media-breakpoint-down(md) {
                height: 675px;
                padding: 40px 15px;
            }

            .footer-submit {
                .wpcf7-not-valid-tip {
                    display: none;
                }

                .btnA {
                    .wpcf7-form-control {
                        @include media-breakpoint-down(lg) {
                            font-size: 0px;
                            padding: 0px;
                        }
                    }
                }

                .footer-input {
                    height: 73px;
                    background: #faf5e800;
                    backdrop-filter: blur(50px) brightness(0.7);
                    -webkit-backdrop-filter: blur(50px) brightness(0.7);
                    outline: none;

                    &::placeholder {
                        font-family: "hankengrotesk-regular";
                        color: $white;
                        font-size: $font16;
                        line-height: $leading21;
                        letter-spacing: $space-0_32;
                    }

                    .submit-input {
                        input {
                            backdrop-filter: none;
                        }
                    }

                    .wpcf7-spinner {
                        display: none;
                    }
                }
            }

            .footer-banner-img {
                height: 558px;
                width: 558px;

                @include media-breakpoint-down(lg) {
                    width: 370px !important;
                    height: 370px !important;
                }

                @media (max-width:374px) {
                    width: 300px !important;
                    height: 300px !important;
                }
            }
        }
    }

    .footer-main {
        .acreditations-card {
            height: 99px;

            @include media-breakpoint-down(lg) {
                height: 80px;
            }

            .acreditations-img {
                height: 71px;

                @include media-breakpoint-down(lg) {
                    height: 57px;
                }
            }
        }

        .footer-logo {
            height: 185px;
        }

        .app-images {
            height: 47px;

            @include media-breakpoint-down(lg) {
                height: 40px;
            }
        }

        .copyright {
            a {
                color: $white;
            }
        }
    }
}

@supports (-webkit-hyphens: none) {
    .copyright {
        a {
            color: $white;
            text-decoration: none;
        }
    }
}