.prefix {
    height: 33px !important;
    padding: 0px 18px;

    &.bg-B4B4B4-btn {
        background-color: rgba($color: $color-B4B4B4, $alpha: 0.1);
        backdrop-filter: blur(10px) brightness(1.1);
        -webkit-backdrop-filter: blur(10px) brightness(1.1);
    }

    &.bg-FFFFFC-prefix {
        background-color: rgba($color: $color-FFFFFC, $alpha: 0.33);
        backdrop-filter: blur(7px) brightness(0.89);
        -webkit-backdrop-filter: blur(7px) brightness(0.89);
    }
    @include media-breakpoint-down(lg){
        height: 25px;
    }
}

.main-title {
    z-index: 7;
    position: relative;

    strong {
        color: $color-20994A;
        font-weight: 600 !important;
        font-family: "hankengrotesk-semibold";
    }

    &.main-white-title {
        p {
            strong {
                color: $white !important;
                font-weight: 600 !important;
            }
        }
    }
}

.filter-btns {
    @include media-breakpoint-down(lg) {
        overflow-x: auto;
    }

    .filter {
        margin-right: 12px;
        background-color: $color-E0E0E0;
        color: $color-0F120A;

        &.active {
            background-color: $color-20994A;
            color: $white;
        }
    }
}

.testimonial-slider-section {
    .testimonial-icon {
        height: 25px;
        width: 25px;
    }

    .testimonial-heading,
    .testimonial-client  {
        color: rgba($color: $color-0F120A, $alpha: 0.48);
    }
}

.counter-section {
    z-index: 5;
}

.center-content-section {
    .center-bg-img {
        z-index: 9;
        height: 768px;
        left: -28%;
        top: 15%;
        @include media-breakpoint-down(lg){
            height: 460px;
            left: -49%;
            top: 26%;
        }
    }
}

.our-app-banner-section {
    .app-banner-logo {
        height: 53px;
        &:last-child{
            margin-bottom: 0px !important;
        }
    }
}

.spacing {
    &.bg-radius-top {
        border-radius: 30px 30px 0px 0px;
        z-index: 8 !important;
    }

    &.bg-radius-bottom {
        border-radius: 0px 0px 30px 30px;
        margin-bottom: -30px;
        z-index: 8 !important;
    }
    @include media-breakpoint-down(lg) {
        border-radius: 0px !important;
    }
}

.case-studies-open-hero-section {
    .case-down-arrow {
        width: 55%;
        height: 70%;
        transform: translate(52%, -55%);
        @include media-breakpoint-down(lg){
            width: 54%;
            height: 33%;
            transform: translate(31%, -65%);
        }
    }
}

.social-menus {
    .social-icon {
        width: 38px;
        height: 38px;

        img {
            height: 16px;
            filter: invert(1);
        }
    }
}
.service-bar{
    z-index: 9;
    .service-bar-container{
        background-color: rgba($color: $color-141414, $alpha: 0.1);
        backdrop-filter: blur(31px);
        padding: 14px 55px;
        a{
            &:last-child{
                margin-right: 0 !important;
            }
            &.active{
                color: $color-EBFF99 !important;
            }
        }
    }
}

.heading{
    strong{
        font-family: "hankengrotesk-semibold";
    }
}

body{
    &.single-case_studies{
        .testimonial-slider-section{
            background-image: url(/wp-content/themes/chc/templates/icons/testimonial-bg.svg);
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: -35% -10%;
            padding-bottom: 210px;
            border-radius: 0px 0px 30px 30px;
            @include media-breakpoint-down(lg){
                padding-bottom: 120px;
                border-radius: 0px;
                display: none;
            }
        }
    }
}