.bg-EBFF99{
    background-color: $color-EBFF99;
}
.bg-F5FFCC{
    background-color: $color-F5FFCC;
}
.bg-20994A{
    background-color: $color-20994A;
}
.bg-0F120A{
    background-color: $color-0F120A;
}
.bg-B4B4B4{
    background-color: $color-B4B4B4;
}
.bg-EAEAEA{
    background-color: $color-EAEAEA;
}
.bg-141414{
    background-color: $color-141414;
}
.bg-FFFCFA{
    background-color: $color-FFFCFA;
}
.bg-E0E0E0{
    background-color: $color-E0E0E0;
}
.bg-FFFFFC{
    background-color: $color-FFFFFC;
}
.bg-FFFFFF80{
    background-color: $color-FFFFFF80;
}
.bg-FFFCFA80{
    background-color: $color-FFFCFA80;
}

// color 

.text-EBFF99{
    color: $color-EBFF99;
}
.text-F5FFCC{
    color: $color-F5FFCC;
}
.text-20994A{
    color: $color-20994A;
}
.text-0F120A{
    color: $color-0F120A;
}
.text-B4B4B4{
    color: $color-B4B4B4;
}
.text-EAEAEA{
    color: $color-EAEAEA;
}
.text-141414{
    color: $color-141414;
}
.text-FFFCFA{
    color: $color-FFFCFA;
}
.text-E0E0E0{
    color: $color-E0E0E0;
}
.text-FFFFFC{
    color: $color-FFFFFC;
}
.text-111616{
    color: $color-111616;
}
.text-FFFFFF80{
    color: $color-FFFFFF80;
}
.text-FFFCFA80{
    color: $color-FFFCFA80;
}
.text-F4F4F5{
    color: $color-F4F4F5;
}

// font 

.font12{
    font-size: $font12;
}

.font14{
    font-size: $font14;
}
.font16{
    font-size: $font16;
}
.font18{
    font-size: $font18;
}
.font20{
    font-size: $font20;
}
.font22{
    font-size: $font22;
}
.font23{
    font-size: $font23;
}
.font28{
    font-size: $font28;
}
.font30{
    font-size: $font30;
}
.font32{
    font-size: $font32;
}
.font34{
    font-size: $font34;
}
.font38{
    font-size: $font38;
}
.font44{
    font-size: $font44;
}
.font45{
    font-size: $font45;
}
.font48{
    font-size: $font48;
}
.font64{
    font-size: $font64;
}
.font50{
    font-size: $font50;
}
.font54{
    font-size: $font54;
}
.font64{
    font-size: $font64;
}
.font74{
    font-size: $font74;
}
.font80{
    font-size: $font80;
}

// line-height 

.leading18{
    line-height: $leading18;
}
.leading21{
    line-height: $leading21;
}
.leading24{
    line-height: $leading24;
}
.leading26{
    line-height: $leading26;
}
.leading28{
    line-height: $leading28;
}
.leading30{
    line-height: $leading30;
}
.leading32{
    line-height: $leading32;
}
.leading34{
    line-height: $leading34;
}
.leading36{
    line-height: $leading36;
}
.leading45{
    line-height: $leading45;
}
.leading48{
    line-height: $leading48;
}
.leading50{
    line-height: $leading50;
}
.leading54{
    line-height: $leading54;
}
.leading62{
    line-height: $leading62;
}
.leading71{
    line-height: $leading71;
}
.leading75{
    line-height: $leading75;
}
.leading79{
    line-height: $leading79;
}
.leading96{
    line-height: $leading96;
}
.leading104{
    line-height: $leading104;
}

.space-1{
    letter-spacing: $space-1;
}
.space-0_4{
    letter-spacing: $space-0_4;
}
.space-0_6{
    letter-spacing: $space-0_6;
}
.space-1_6{
    letter-spacing: $space-1_6;
}
.space-0_9{
    letter-spacing: $space-0_9;
}
.space-1_08{
    letter-spacing: $space-1_08;
}
.space-0_24{
    letter-spacing: $space-0_24;
}
.space-0_28{
    letter-spacing: $space-0_28;
}
.space-0_32{
    letter-spacing: $space-0_32;
}
.space-0_36{
    letter-spacing: $space-0_36;
}
.space-0_44{
    letter-spacing: $space-0_44;
}
.space-0_56{
    letter-spacing: $space-0_56;
}
.space-0_68{
    letter-spacing: $space-0_68;
}
.space-0_76{
    letter-spacing: $space-0_76;
}
.space-0_88{
    letter-spacing: $space-0_88;
}
.space-0_96{
    letter-spacing: $space-0_96;
}
.space-1_28{
    letter-spacing: $space-1_28;
}
.space-1_48{
    letter-spacing: $space-1_48;
}
.space-0_16{
    letter-spacing: $space-0_16;
}

.opacity5{
    opacity: $opacity5;
}
.opacity20{
    opacity: $opacity20;
}
.opacity40{
    opacity: $opacity40;
}
.opacity38{
    opacity: $opacity38;
}
.opacity48{
    opacity: $opacity48;
}
.opacity60{
    opacity: $opacity60;
}
.opacity80{
    opacity: $opacity80;
}
.opacity90{
    opacity: $opacity90;
}


.radius3 {
    border-radius: $radius3 ;
}
.radius5 {
    border-radius: $radius5 ;
}
.radius10{
    border-radius: $radius10;
}
.radius20{
    border-radius: $radius20;
}
.radius28{
    border-radius: $radius28;
}
.radius30{
    border-radius: $radius30;
}


@include media-breakpoint-down(lg){

    .res-font10{
        font-size: $res-font10;
    }
    .res-font12{
        font-size: $font12;
    }

    .res-font14{
        font-size: $font14;
    }
    .res-font16{
        font-size: $font16;
    }
    .res-font18{
        font-size: $font18;
    }
    .res-font20{
        font-size: $font20;
    }
    .res-font22{
        font-size: $font22;
    }
    .res-font23{
        font-size: $font23;
    }
    .res-font25{
        font-size: $res-font25;
    }
    .res-font26{
        font-size: $res-font26;
    }
    .res-font28{
        font-size: $font28;
    }
    .res-font30{
        font-size: $font30;
    }
    .res-font32{
        font-size: $font32;
    }
    .res-font34{
        font-size: $font34;
    }
    .res-font38{
        font-size: $font38;
    }
    .res-font44{
        font-size: $font44;
    }
    .res-font45{
        font-size: $font45;
    }
    .res-font48{
        font-size: $font48;
    }
    .res-font64{
        font-size: $font64;
    }
    .res-font50{
        font-size: $font50;
    }
    .res-font54{
        font-size: $font54;
    }
    .res-font64{
        font-size: $font64;
    }
    .res-font74{
        font-size: $font74;
    }
    .res-font80{
        font-size: $font80;
    }
    .res-font40{
        font-size: $res-font40;
    }
    .res-font35{
        font-size: $res-font35;
    }
    .res-font11{
        font-size: $res-font11;
    }
    .res-font24{
        font-size: $res-font24;
    }


    .res-leading18{
        line-height: $leading18;
    }
    .res-leading21{
        line-height: $leading21;
    }
    .res-leading24{
        line-height: $leading24;
    }
    .res-leading26{
        line-height: $leading26;
    }
    .res-leading28{
        line-height: $leading28;
    }
    .res-leading30{
        line-height: $leading30;
    }
    .res-leading32{
        line-height: $leading32;
    }
    .res-leading34{
        line-height: $leading34;
    }
    .res-leading36{
        line-height: $leading36;
    }
    .res-leading45{
        line-height: $leading45;
    }
    .res-leading48{
        line-height: $leading48;
    }
    .res-leading50{
        line-height: $leading50;
    }
    .res-leading54{
        line-height: $leading54;
    }
    .res-leading62{
        line-height: $leading62;
    }
    .res-leading71{
        line-height: $leading71;
    }
    .res-leading75{
        line-height: $leading75;
    }
    .res-leading79{
        line-height: $leading79;
    }
    .res-leading96{
        line-height: $leading96;
    }
    .res-leading104{
        line-height: $leading104;
    }
    .res-leading45{
        line-height: $res-leading45;
    }
    .res-leading40{
        line-height: $res-leading40;
    }
    .res-leading16{
        line-height: $res-leading16;
    }

    
    .res-space-1{
        letter-spacing: $space-1;
    }
    .res-space-0_4{
        letter-spacing: $space-0_4;
    }
    .res-space-0_6{
        letter-spacing: $space-0_6;
    }
    .res-space-1_6{
        letter-spacing: $space-1_6;
    }
    .res-space-0_9{
        letter-spacing: $space-0_9;
    }
    .res-space-1_08{
        letter-spacing: $space-1_08;
    }
    .res-space-0_24{
        letter-spacing: $space-0_24;
    }
    .res-space-0_28{
        letter-spacing: $space-0_28;
    }
    .res-space-0_32{
        letter-spacing: $space-0_32;
    }
    .res-space-0_36{
        letter-spacing: $space-0_36;
    }
    .res-space-0_44{
        letter-spacing: $space-0_44;
    }
    .res-space-0_56{
        letter-spacing: $space-0_56;
    }
    .res-space-0_68{
        letter-spacing: $space-0_68;
    }
    .res-space-0_76{
        letter-spacing: $space-0_76;
    }
    .res-space-0_88{
        letter-spacing: $space-0_88;
    }
    .res-space-0_96{
        letter-spacing: $space-0_96;
    }
    .res-space-1_28{
        letter-spacing: $space-1_28;
    }
    .res-space-1_48{
        letter-spacing: $space-1_48;
    }
    .res-space-0_16{
        letter-spacing: $space-0_16;
    }
    .res-space-0_8{
        letter-spacing: $res-space-0_8;
    }
    .res-space-0_5{
        letter-spacing: $res-space-0_5;
    }
    .res-space-0_7{
        letter-spacing: $res-space-0_7;
    }
    .res-space-0_2{
        letter-spacing: $res-space-0_2;
    }
    .res-space-0_48{
        letter-spacing: $res-space-0_48;
    }

    .res-radius3 {
        border-radius: $radius3 ;
    }
    .res-radius5 {
        border-radius: $radius5 ;
    }
    .res-radius10{
        border-radius: $radius10;
    }
    .res-radius20{
        border-radius: $radius20;
    }
    .res-radius28{
        border-radius: $radius28;
    }
    .res-radius30{
        border-radius: $radius30;
    }
}