    .sub-hero-blur-layer {
        background: linear-gradient(180deg, rgba(15, 18, 10, 0), rgba(15, 18, 10, 1));
        height: 228px;

        &.bottom-layer {
            background: linear-gradient(0deg, rgba(15, 18, 10, 0), rgba(15, 18, 10, 1));

            @include media-breakpoint-down(lg) {
                height: 80px;
            }
        }
    }

    .hero-blur-layer {
        background: linear-gradient(180deg, rgba(15, 18, 10, 0), rgba(32, 153, 74, 1));
        height: 228px;
    }


    .hero-section {
        background-attachment: fixed;

        .hero-bg-layer {
            background: linear-gradient(180deg, rgba(32, 153, 74, 0), rgba(32, 153, 74, 1));
            height: 228px;

            @include media-breakpoint-down(md) {
                height: 84px !important;
            }
        }

        .hero-img {
            margin-top: 21%;
            transform-origin: center center;
            transition: none;

            @include media-breakpoint-down(xl) {
                margin-top: 35%;
                border-radius: 0px !important;
            }

            @include media-breakpoint-down(lg) {
                margin-top: 45%;
                border-radius: 0px !important;
            }

            @include media-breakpoint-down(md) {
                margin-top: 80%;
                height: 253px !important;
            }

            @media (max-width:381px) {
                margin-top: 105%;
            }

            @media (max-width:374px) {
                margin-top: 125%;
            }
        }
    }

    .contact-section,
    .hero-section {
        background-image: url(/wp-content/themes/chc/templates/icons/hero-bg.svg);
        background-size: 104% 71%;
        background-repeat: no-repeat;
        background-position: 85% bottom;

        @include media-breakpoint-up(xxl) {
            background-size: 125% 86%;
        }

        @include media-breakpoint-down(md) {
            background-size: 90% 45%;
            background-position: 55% bottom;
        }

        @media (max-width:374px) {
            background-size: 101% 30%;
            background-position: 97% bottom;
        }
    }

    .contact-section {
        @include media-breakpoint-down(lg) {
            height: fit-content;
            background-position: 102% 350%;
        }
    }

    .sub-hero-section {
        @include media-breakpoint-down(lg) {
            height: 676px;
        }
    }