.left-right-content-section {
    z-index: 7;

    .btnA {
        z-index: 9 !important;
    }

    .left-right-bg-img {
        height: 768px;
        bottom: -40%;
        left: -8%;
        z-index: -1;

        @media screen and (max-width:1920px) {
            bottom: -120%;
            left: -10%;
        }

        @include media-breakpoint-down(lg) {
            height: 420px;
            bottom: -41%;
            left: -58%;
        }

        &.bg-img-white {
            filter: invert(1);
        }
    }
}

.left-content-hero-section {
    @include media-breakpoint-down(lg) {
        height: 676px;
    }

    .left-content-hero-bg-layer {
        height: 228px;
        background: linear-gradient(180deg, rgba(15, 18, 10, 0), rgba(15, 18, 10, 1));
    }
}

.left-right-section {
    .left-right-img {
        height: 576px;

        @include media-breakpoint-down(md) {
            height: 345px;
        }

        @media (max-width:374px) {
            height: 280px;
        }
    }
}